# Web Scraping (Selenium)

* It is a  web browser automation tool.
* It allows you to open a browser of our choice and perform tasks as human being like:
    * clicking buttons
    * Entering information in forms
    * searching information from web pages.
* uses a web browser package that can take control of browser and mimic user orientated actions.

### Problem Statment:
Scraping data from [https://www.naukri.com/] website for data scientist job role for delhi location
* 1. Job Title
* 2. Company Name
* 3. Job location
* 4. Experience required

In [1]:
 ! pip install selenium

Requirement already satisfied: selenium in c:\users\abhimanyu\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\abhimanyu\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\abhimanyu\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\abhimanyu\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: certifi; extra == "secure" in c:\users\abhimanyu\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.6.20)
Requirement already satisfied: cryptography>=1.3.4; extra == "secure" in c:\users\abhimanyu\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.1.1)
Requirement already satisfied: idna>=2.0.0; extra == "secure" in c:\users\abhimanyu\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2.10)
Requirement already satisfied: pyOpenSSL>=0.14; extra == "secure" in c:\users\abhimanyu\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (19.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\abhimanyu\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: async-generator>=1.10 in c:\users\abhimanyu\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.10)
Requirement already satisfied: cffi>=1.14; os_name == "nt" and implementation_name != "pypy" in c:\users\abhimanyu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.3)
Requirement already satisfied: outcome in c:\users\abhimanyu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\abhimanyu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sortedcontainers in c:\users\abhimanyu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.2.2)
Requirement already satisfied: sniffio in c:\users\abhimanyu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: six>=1.4.1 in c:\users\abhimanyu\anaconda3\lib\site-packages (from cryptography>=1.3.4; extra == "secure"->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\abhimanyu\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)
Requirement already satisfied: pycparser in c:\users\abhimanyu\anaconda3\lib\site-packages (from cffi>=1.14; os_name == "nt" and implementation_name != "pypy"->trio~=0.17->selenium) (2.20)

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

### Let's connect to the web driver:
you need to connect the driver every time

In [3]:
driver = webdriver.Chrome(r'C:\Users\Abhimanyu\Downloads\chromedriver_win32\chromedriver.exe') # first way

In [4]:
#driver = webdriver.Chrome('chromedriver.exe') # 2nd way :  upload the file in notebook and then connect

In [5]:
url = 'https://www.naukri.com/'
driver.get(url)

In [6]:
# finding web element for search job bar using id
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [7]:
# write in search bar
search_job.send_keys('Data scientist')

In [8]:
# Finding web element for search location bar using absolute xpath
search_locn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_locn

In [9]:
# write in location bar
search_locn.send_keys('Delhi')

In [10]:
# clicking search button by using absolute xpath
search_bttn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_bttn

In [11]:
# click the search button
search_bttn.click()

In [12]:
# Apply the filters:(for filtering always use absolute xpath)
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[1]/label/i')
salary_check

In [13]:
salary_check.click()

### Extracting job titles

In [14]:
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

19

In [15]:
# now the text of job title is prestent in the web element that we have scraped above
# so we will run a for loop to iterate over tages and extract text
job_title = []
for i in title_tags:
    job_title.append(i.text)
len(job_title)

19

### Extracting Company name:

In [16]:
comp_name = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(comp_name)

19

In [17]:
company_name = []
for i in comp_name:
    company_name.append(i.text)
len(company_name)

19

### Extracting job location

In [20]:
loc = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location = []
for i in loc:
    location.append(i.text)
len(location)

19

### Extracting experience:

In [19]:
exp = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
#this is parent tag and attribute, but if there is more than 1 text types are available then simply mention tag name after /
experience = []
for i in exp:
    experience.append(i.text)
len(experience)

19

In [21]:
df = pd.DataFrame({'Job Title': job_title,'Company Name':company_name,'Job location':location,'Experience required':experience})
df

,Job Title,Company Name,Job location,Experience required
0,Openings For Jr/mid/Sr level data Scientists,Pluto seven business solutions (p) limited,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",2-6 Yrs
1,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,"Noida, New Delhi, Delhi / NCR",0-0 Yrs
2,Data Scientist,LG Electronics India Pvt. Ltd.,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",0-2 Yrs
3,Data Scientist,Wunderman Thompson Commerce Private Limited,"Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi...",0-2 Yrs
4,Senior Data Scientist,Dynpro India Pvt. Ltd.,"Kolkata, Mumbai, Gurgaon/Gurugram, Bangalore/B...",6-10 Yrs
5,Data Scientist (Python| Machine Learning),Jubna,Noida,3-5 Yrs
6,Data Scientist,Gauge Data Solutions Pvt Ltd,Noida,2-7 Yrs
7,"Developers, Data Scientists, Web Designers, An...",Cogmac Technologies,Noida,1-5 Yrs
8,Senior Marketing Data Analyst,Tide Software,Gurgaon/Gurugram,0-4 Yrs
9,Senior Data Analyst,Grofers,Gurgaon/Gurugram,4-7 Yrs
10,Quality Analyst / Data Engineer / Associate An...,GABA Consultancy services,"Noida, New Delhi, Delhi / NCR",0-5 Yrs
11,Assistant/deputy Manager - Geo-spatial Data An...,Maruti Suzuki India,"Gurgaon/Gurugram, bangalore",3-5 Yrs
12,Associate Data Analyst,Loginworks software Pvt Ltd,Noida(Sector-63 Noida),0-1 Yrs
13,Lead Data Analyst,Grofers,Gurgaon/Gurugram,5-7 Yrs
14,Data Analyst,Grofers,"Gurgaon/Gurugram, Bangalore/Bengaluru",1-2 Yrs
15,Junior Data Analyst,SiCureMi Healthcare Technologies,Delhi,0-2 Yrs
16,Data Research Analyst Internship,iHackers Inc,New Delhi,0-1 Yrs
17,Business Analytics / Data Analyst / Process An...,GABA Consultancy services,"Noida, Ghaziabad, New Delhi",0-5 Yrs
18,"Data Analyst ( SQl, Excel)",Loginworks software Pvt Ltd,"Noida, New Delhi, Gautam Buddha Nagar, Greater...",0-2 Yrs